<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <form action="/example/another_route" method="post">
        <label for="number">Enter a number:</label>
        <br>
        <br>
        <input type="number" name="x" /> 
        <br>
        <br>
        <button type="submit">Calculate</button>
    </form>

  </body>
</html>
