<!DOCTYPE html>
<html>
  <head>
    <!-- show the title variable in a paragraph tag -->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- show the title variable on the page -->
    <h1><%= title %></h1>
    <!-- show the title variable in a paragraph tag -->
    <p>Welcome to <%= title %></p>
  </body>
</html>
